<div class="gameCards">
   
     <div *ngFor="let game of pageSlice">
        <app-card [game]="game" [libraryView]="libraryView" (addedGameId)="addToLibrary($event)"></app-card>
    </div>

    <div *ngIf="!games.length && !libraryView">
        <p>No games by your query ;( </p>
        <p>Or games already in your library !</p>
    </div>
    
</div>

<mat-paginator 
*ngIf="pageSlice.length"
[length]="games.length"
[pageSize]="pageSize"
[pageSizeOptions]="pageSizeOptions"
(page)="onPagination($event)"
>
</mat-paginator>
