.gameCards{
    display: flex;
    flex-wrap: wrap;
    margin-right: -50px;
}

// .gameCard{
//     border: 1px solid gray;
//     border-radius: 5px;
//     height: 300px;
//     width: 270px;
//     margin: 10px;

//     transition: .5s all;
//      &:hover{
//         transform: scale(1.1);
//      }
// }

// .gameCard:hover > .cardHead{
//     background-color: red;
// }
